/* Home */

.homeIllustration {

  height: 50rem;
  margin-top: 1rem;
}

.homeLayout {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.containerImage {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  
}


.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

@media only screen and (max-width: 1920px) {

  .homeIllustration {
    height: 35rem;
    padding: 2rem;
  }

} 

@media only screen and (max-width: 769px) {

  .homeIllustration {
    height: 28rem;
    margin-top: 3rem;
  }

}

@media only screen and (max-width: 375px) {

  .homeIllustration {
    height: 100%;
    width:100%;
    margin-top: 3rem;
  }

}


/* Web-Project */

.web_project {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  margin: 2rem;
  padding-bottom: 2.5rem;

}

.web_project_year {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
}

.container_web_project {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.web_project_image {
  height: 30rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.web_project a {
  text-decoration: underline;
  color: blue;
}

.card {
  box-shadow: 0 2px 5px 0;
  width: 85rem;
  /* background-color: #f1c8da; */
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  padding: 2rem;
  margin: 2rem;
}

@media only screen and (max-width: 768px) {

  .card {
    box-shadow: 0 2px 5px 0;
    width: 20rem;
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    padding: 2rem;
    margin: 2rem;
  }

  .web_project_image {
    height: 10rem;
    margin-top: 1rem;
  }

}

@media only screen and (max-width: 375px) {

  .web_project_image {
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .card {
    padding: 1rem;
    margin: 0.5rem;
  }

}

/* Illustration */

.wrapper {
  border:none;
  background-image:red;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
}

.image {
  width: 20rem;
  /* padding: 3rem; */
}

.gallery {
  margin-left: auto;
  margin-right: auto;
  
}

.fullScreen {
  width: 100%;
}

.containerIllustrations {  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 375px) {

  .image {
    width: 100%;
    /* padding: 3rem; */
  }

  .containerIllustrations {  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }

}

/* Comics */

.comic {
  height: 27rem;
  margin: 3rem;
}

.layoutComics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.containerComics {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* border: 1px solid black */
}

.containerDynamicComic {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-bottom: 3rem;
  margin: 2rem;
}

.dynamicComic {
  padding: 1rem;
  /* margin: 2rem; */
}

.comicDetail {
  height: 60rem;
  text-align: center
}

@media only screen and (max-width: 768px) {
  .layoutComics {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .comicDetail {
    height: 16rem;
    text-align: center
  }

  .comic {
    height: 12rem;

  }

}

/* Videos */

.containerVideos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin: 3rem;
  padding-bottom: 3rem;
}



@media only screen and (max-width: 768px) {

  .containerVideos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    padding-bottom: 3rem;

  }

  .containerVideos .video {
    height: 100%;
    width: 350px;
    padding: 0.5rem;
  }
}

/* Navbar */

.top_nav {
  background-color: #fdd302;
  height: 4.5rem;
  display:flex;
  list-style-type:none;
  justify-content:flex-end;
}

.topnav .icon {
  display: none;
}


.horizontal_nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}

.vertical_nav {
  background-color: #fdd302;
  height: 18rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;

}

/* When the screen is less than 600 pixels wide, hide all links, 
except for the first one ("Home"). Show the link that contains should 
open and close the topnav (.icon) */

@media screen and (max-width: 600px) {

  .horizontal_nav .icon {
    float: right;
    display: block;
    margin:   1rem;
  }

  .horizontal_nav {
    height: 18rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
  }
}

/* Hide the link that should open and close the topnav on small screens */


.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav_item {
  margin-top: 1rem;
  transition: color 0.15s ease,  font-weight 0.15s ease;
  margin-right: 2rem;
  margin-left: 1rem;
  font-size: 2rem;
}

.nav_item_left {
  margin-right: auto;
  margin-left: 2rem;
  margin-top: 1rem;
  transition: color 0.15s ease,  font-weight 0.15s ease;
  font-size: 2rem;
} 

.nav_item_current {
  text-decoration: line-through;
  text-decoration-color:red;
  text-decoration-thickness: 0.3rem;
  font-weight: bold;
}

.nav_item:hover,
.nav_item:focus,
.nav_item:active {
  font-weight: bold;
}


/* Footer */

.footer {
  background-color:  #fdd302;
  padding-bottom: 0px;
  position:fixed;
  bottom:0;
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;

}

.icon {
  height: 1.5rem;
}

.icon:hover {
  cursor: pointer;
}

/* Navbar2 */

.navbar {
background-color: #fdd302;
width: 100%;
height: 4rem;
display: flex;
}

.navbar .leftSide {
flex: 50%;
background-color: #fdd302;
display: flex;
align-items: center;
}

.navbar .leftSide .home {
  padding-left: 1rem;
  font-size: 1.8rem;
}

.navbar .leftSide .hidden {
  display: none;
}

.navbar .leftSide .show {
  position: absolute; 
  top: 3rem;
  height: 100%;
  width: 100%;
  background-color: #fdd302;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:flex-start;
}

.navbar .leftSide .show a{
  font-size: 1.8rem;
}

.current{
  text-decoration: line-through;
  text-decoration-color:red;
  text-decoration-thickness: 0.3rem;
  font-weight: bold;
}

.navbar .leftSide button {
  display: none;
  margin-left: 2rem;
  border: none;
  background: none;
  font-size: 2rem;
}

.newButton {
  display: none;
  margin-right: 2rem;
  border: none;
  background: none;
  font-size: 2rem;
}

.navbar .leftSide #hidden{
display: flex;
}

.navbar .rightSide {
  flex: 70%;
  background-color: #fdd302;
  }

.navbar .rightSide .links {
  font-size: 1.8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

@media only screen and (max-width: 1024px) {
  .navbar .rightSide .links {
    font-size: 1.5rem;
  }

  .navbar .leftSide .home {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 769px) {

  .navbar .leftSide button {
    display: flex;
  }
  .navbar .rightSide .links {
    display: none;
  }

  .navbar .leftSide .home {
    display: none;
  }

  .navbar .leftSide {
    width: 100%;
  }


}

@media only screen and (max-width: 375px) {

  .navbar .leftSide button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    font-size: 2rem;
  }

  /* .newButton {
    display: flex;
    font-size: 2rem;
  } */


  .navbar .rightSide .links {
    display: none;
  }

  .navbar .leftSide .home {
    display: none;
  }

  .navbar .leftSide .show {
    height: 50%;
    top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex;
  }

  .navbar .leftSide .show a{
    font-size: 1.4rem;
    margin-left: 1rem;
  }

  .navbar .leftSide {
    width: 100%;
  }

  .navbar {
    height: 3rem;
  }

  .footer {
    height: 2rem;
  }

  .icon {
    height: 1rem;
  }
}

