/* Home */

.homeIllustration {
  height: 55rem;
  padding: 3rem;
}

.homeLayout {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.containerImage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}


.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.title {
  margin-top: 0.5rem;
  line-height: 1.15;
  font-size: 2rem;
  padding-left: 100rem;
}

/* Illustration */

.wrapper {
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
}

.image {
  height: 25rem;
  /* padding: 3rem; */
}

/* .image:hover {
  position:relative;
  width:250px;
  height:auto;
  display:block;
} */

.gallery {
  position: relative;
}

.containerIllustrations {  
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1rem;


}

/* Comics */

.comic {
  height: 27rem;
  margin: 3rem;
}

.comicDetail {
  height: 40rem;
  text-align: center
}

.layoutComics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.containerComics {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* border: 1px solid black */
}

.containerDynamicComic {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}


/* Navbar */

.nav-left {
  /* position: fixed; */
  background-color: yellow;
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.nav_top {
  background-color: yellow;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}


.nav_item {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease,  font-weight 0.15s ease;
}

.nav_item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.nav_item:hover,
.nav_item:focus,
.nav_item:active {
  font-weight: bold;
}

.nav_item h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.nav_item p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}
