/* Home */

.homeIllustration {
  height: 55rem;
  padding: 3rem;
}

.homeLayout {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.containerImage {
  display: flex;
  justify-content: center;
}


.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.title {
  margin-top: 0.5rem;
  line-height: 1.15;
  font-size: 2rem;
  padding-left: 100rem;
}

/* Web-Project */

.web_project {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  margin: 2rem;
  padding-bottom: 2.5rem;

}

.web_project_year {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
}

.card {
  box-shadow: 0 2px 5px 0;
  width: 85rem;
  /* background-color: #f1c8da; */
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  padding: 2rem;
  margin: 2rem;
}

/* Illustration */

.wrapper {
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
}

.image {
  height: 25rem;
  /* padding: 3rem; */
}

/* .image:hover {
  position:relative;
  width:250px;
  height:auto;
  display:block;
} */

.gallery {
  margin-left: auto;
  margin-right: auto;
}

.containerIllustrations {  
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 6rem;


}

/* Comics */

.comic {
  height: 27rem;
  margin: 3rem;
}

.comicDetail {
  height: 60rem;
  text-align: center
}

.layoutComics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.containerComics {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* border: 1px solid black */
}

.containerDynamicComic {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-bottom: 3rem;
  margin: 2rem;
}

.dynamicComic {
  padding: 1rem;
  /* margin: 2rem; */
}

/* Videos */

.containerVideos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin: 3rem;
  padding-bottom: 3rem;
}

.video {
  padding: 1rem;

}

/* Navbar */

.top_nav {
  background-color: #fdd302;
  height: 4.5rem;
  display:flex;
  list-style-type:none;
  justify-content:flex-end;
}

.topnav .icon {
  display: none;
}


.horizontal_nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}

.vertical_nav {
  background-color: #fdd302;
  height: 18rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;

}

/* When the screen is less than 600 pixels wide, hide all links, 
except for the first one ("Home"). Show the link that contains should 
open and close the topnav (.icon) */

@media screen and (max-width: 600px) {

  .horizontal_nav .icon {
    float: right;
    display: block;
    margin:   1rem;
  }

  .horizontal_nav {
    height: 18rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
  }
}

/* Hide the link that should open and close the topnav on small screens */


.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav_item {
  margin-top: 1rem;
  transition: color 0.15s ease,  font-weight 0.15s ease;
  margin-right: 2rem;
  margin-left: 1rem;
  font-size: 2rem;
}

.nav_item_left {
  margin-right: auto;
  margin-left: 2rem;
  margin-top: 1rem;
  transition: color 0.15s ease,  font-weight 0.15s ease;
  font-size: 2rem;
} 

.nav_item_current {
  text-decoration: line-through;
  text-decoration-color:red;
  text-decoration-thickness: 0.3rem;
  font-weight: bold;
}

.nav_item:hover,
.nav_item:focus,
.nav_item:active {
  font-weight: bold;
}


/* Footer */

.footer {
  background-color:  #fdd302;
  padding-bottom: 0px;
  position:fixed;
  bottom:0;
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;

}

.icon {
  height: 1.5rem;
}

.icon:hover {
  cursor: pointer;
}

.a {
  color:blue;
}

.a:hover {
  text-decoration: underline;
}