/* Home */

.homeIllustration {
  height: 55rem;
  padding: 3rem;
}

.homeLayout {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.containerImage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}


.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.title {
  margin-top: 0.5rem;
  line-height: 1.15;
  font-size: 2rem;
  padding-left: 100rem;
}

/* Web-Project */

.web_project {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  align-items: center;

}

.web_project_year {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 70rem;
  background-color: #817c64;
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  padding: 2rem;
  margin: 2rem;
}

/* Illustration */

.wrapper {
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
}

.image {
  height: 25rem;
  /* padding: 3rem; */
}

/* .image:hover {
  position:relative;
  width:250px;
  height:auto;
  display:block;
} */

.gallery {
  position: relative;
}

.containerIllustrations {  
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1rem;


}

/* Comics */

.comic {
  height: 27rem;
  margin: 3rem;
}

.comicDetail {
  height: 40rem;
  text-align: center
}

.layoutComics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.containerComics {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* border: 1px solid black */
}

.containerDynamicComic {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/* Videos */

.containerVideos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.video {
  padding: 1rem;
}

/* Navbar */

/* .nav-left {
  position: fixed;
  background-color: #fdd302;
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
} */

.nav_top {
  background-color: #fdd302;
  height: 3rem;
  display:flex;
  list-style-type:none;
  justify-content:flex-end;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav_item {
  margin-top: 1rem;
  transition: color 0.15s ease,  font-weight 0.15s ease;
  margin-right: 2rem;
  margin-left: 1rem;
}

.nav_item_left {
  margin-right: auto;
  margin-left: 2rem;
  margin-top: 1rem;
  transition: color 0.15s ease,  font-weight 0.15s ease;
} 

.nav_item:hover,
.nav_item:focus,
.nav_item:active {
  font-weight: bold;
}

.nav_item h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.nav_item p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

/* Footer */

.footer {
  background-color:  #fdd302;
  padding-bottom: 0px;
  position:fixed;
  bottom:0;
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;

}

.icon {
  height: 1.5rem;
}

.icon:hover {
  cursor: pointer;
}